<%= form_with(model: stock, local: true) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <%= form.label :ticker, class:"sr-only" %>
      <%= form.text_field :ticker, id: :stock_ticker, class:"form-control mb-2" %>
    </div>

  <div class="field">
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :stock_user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit "Create Stock", class:"btn btn-success" %>
  </div>
</div>
  </form>
<% end %>

