<div class ="container">
  <div class="row">
    <div class="col-8">
      <div class="card" style="width: 18rem;">
  <div class="card-header">
    Ticker: <%= @ticker.company_name%>
    </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Exchange: <%= @ticker.primary_exchange %></li>
        <li class="list-group-item">Market Cap:    $<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',') %></li>
        <li class="list-group-item">Current Price: $<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %></li>
        <li class="list-group-item">Previous Close: $<%= number_with_precision(@ticker.previous_close, :precision => 2, :delimiter => ',') %></li>
        <li class="list-group-item">Percentage Change: <%= @ticker.change_percent %>%</li>
        <li class="list-group-item">  52 Week high: $<%= number_with_precision(@ticker.week52_high, :precision => 2, :delimiter => ',') %></li>
        <li class="list-group-item">52 Week low: $<%= number_with_precision(@ticker.week52_low, :precision => 2, :delimiter => ',') %></li>
        <li class="list-group-item">YTD Change: <%= @ticker.ytd_change %></li>
      </ul>
    </div>
    </div>    
    <div class="col-1">
    <img src="<%= @logo.url %>">
  </div>
  </div>
  <br />
  <h3 class="text-center"><%= @article%></h3>

  <div class="row">
    <div class="col-md-3">

      <img src="<%= @image %>" alt="" class="w-100" />
    </div>
    <div class="col-md-9">

      <div class="row align-items-center h-50">
        <div class="col">
          <p><h5><%= @description %></h5></p>
            <a href ="<%= @url %>"><%= @url %></a>
          </p>

        </div>
      </div>

    </div>
  </div>
</div>
</div>
<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">American Dollar Exchange Rates: </div>
    <% @exchange.data.each do |x| %>
    <div class="ticker__item"><%= x.map(&:inspect).join(" :    ").delete('"') %></div>
    <% end %>
  </div>
</div>
<br /><br /><br />
<center>
  <%= link_to 'Edit', edit_stock_path(@stock) %> |
        <%= link_to 'Back', stocks_path %>
        </center>